/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  margin: 0;

  h1 {
    font-family: 'Fustat', serif;
  }
}
